* {
    background-color:rgb(200, 204, 495);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.ingredients li{
    text-align: left;
    margin-left: 625px;
    padding: 5px;
}

.steps li{
    padding: 5px;
}