/*index page styles*/

* {
    background-color:rgb(150, 204, 255);
    font-family: Helvetica, sans-serif;
     text-align: center;
}

.title{
    text-align: center;
    font-size: 48px;
    padding: 10px;
}

.list, .one, .two, .three{
    text-align: center;
    font-size: 18px;
    padding: 8px;
}

img{
    padding: 48px;
    width: 400px;
    height: 400px;
}
   