/*index page styles*/

* {
    background-color:rgb(150, 204, 255);
    letter-spacing: 0.5px;
    font-family: Ariel, sans-serif;
    text-align: center;
}

h1 {
    font-weight: 800;
    text-align: center;
    font-size: 48px;
    padding: 10px;
}

.list, .one, .two, .three{
    text-align: center;
    font-size: 18px;
    padding: 8px;
}

img{
    padding: auto;
    width: 450px;
    height: auto;
}
   
.ingredients li{
    text-align: left;
    margin-left: 625px;
    padding: 8px;
}

.steps li{
    padding: 8px;
}