* {
    background-color:rgb(150, 204, 255);
    font-family: Helvetica, sans-serif;
}

#title{
    text-align: center;
    font-size: 48px;
    padding: 4px;
}

.list, .one, .two, .three{
    text-align: center;
    font-size: 18px;
    padding: 7px;
}


img{
    padding: 48px;
    width: 400px;
    height: 400px;
}
   